<div class="p-4">
  <div>
    <header class="flex items-center justify-between gap-4">
      <h3 class="text-lg font-bold">
        {{ comment.user.username }}
      </h3>
      <div>
        <p class="text-sm text-textcolor-950/60">
          {{ comment.createdAt }}
        </p>
        <span *ngIf="comment.wasEdited" class="text-sm text-textcolor-950/40">
          Edited {{ comment.updatedAt }}
        </span>
      </div>
    </header>

    <p class="mx-2 my-2 whitespace-pre-wrap">{{ comment.message }}</p>

    <footer class="flex gap-2">
      <button
        *ngIf="canInteractWithComment()"
        class="text-blue-500 hover:text-blue-700"
        (click)="toggleReplyMode()">
        Reply
      </button>
      <button
        *ngIf="canEditComment(comment.user.id) && canInteractWithComment()"
        class="text-green-500 hover:text-green-700"
        (click)="toggleEditMode()">
        Edit
      </button>
      <button
        *ngIf="canDeleteComment(comment.user.id) && canInteractWithComment()"
        class="text-red-500 hover:text-red-700"
        (click)="handleDeleteComment(comment.id)">
        Delete
      </button>
      <button
        *ngIf="canInteractWithComment()"
        class="text-indigo-500 hover:text-indigo-700"
        (click)="handleLikeComment(comment.id)">
        {{ comment.likedByMe ? "Unlike" : "Like" }} ({{ comment.likeCount }})
      </button>
    </footer>
  </div>

  <div *ngIf="replyMode" class="mt-4">
    <app-comment-form
      [articleId]="articleId"
      [parentId]="comment.id"
      mode="reply"
      (onCommentPosted)="handleReply($event)">
    </app-comment-form>
  </div>
  <div *ngIf="editMode" class="mt-4">
    <app-comment-form
      [articleId]="articleId"
      [commentId]="comment.id"
      mode="edit"
      [initialMessage]="comment.message"
      (onCommentPosted)="handleEdit($event)">
    </app-comment-form>
  </div>

  <!-- Nested Comments -->
  <div
    class="mt-4 border-b-2 border-l-2 border-gray-200 pl-4"
    *ngIf="comment.children && comment.children.length > 0">
    <app-comment
      *ngFor="let childComment of comment.children"
      [comment]="childComment"
      [articleId]="articleId"></app-comment>
  </div>
</div>
