<footer class="text-textcolor-600 font-lora bg-background-100">
  <div class="container py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-textcolor-900"
    >
      <span id="logo">Logo</span>
      <span class="ml-3 text-xl">Sentinel of Liberty</span>
    </a>

    <p
      class="text-sm text-textcolor-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-textcolor-200 sm:py-2 sm:mt-0 mt-4"
    >
      © {{ currentYear }} Sentinel of Liberty —
      <a
        href="https://barataribeiro.com"
        class="text-textcolor-600 ml-1"
        rel="noopener noreferrer"
        target="_blank"
        >Barata-Ribeiro</a
      >
    </p>

    <span
      class="inline-flex gap-3 sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
      <a class="text-textcolor-500">
        <span>1</span>
      </a>
      <a class="text-textcolor-500">
        <span>2</span>
      </a>
      <a class="text-textcolor-500">
        <span>3</span>
      </a>
      <a class="text-textcolor-500">
        <span>4</span>
      </a>
    </span>
  </div>
</footer>
