<footer class="bg-background-100 font-lora text-textcolor-600">
  <div class="container mx-auto flex flex-col items-center py-8 sm:flex-row">
    <a
      class="title-font flex items-center justify-center font-medium text-textcolor-900 md:justify-start">
      <span id="logo">Logo</span>
      <span class="ml-3 text-xl">Sentinel of Liberty</span>
    </a>

    <p
      class="mt-4 text-sm text-textcolor-500 max-sm:text-center sm:ml-4 sm:mt-0 sm:border-l-2 sm:border-textcolor-200 sm:py-2 sm:pl-4">
      © {{ currentYear }} Sentinel of Liberty
      <a
        href="https://barataribeiro.com"
        class="ml-1 text-textcolor-600 max-sm:block"
        rel="noopener noreferrer"
        target="_blank">
        — Barata-Ribeiro
      </a>
    </p>

    <span
      class="mt-4 inline-flex justify-center gap-3 sm:ml-auto sm:mt-0 sm:justify-start">
      <a class="text-textcolor-500">
        <span>1</span>
      </a>
      <a class="text-textcolor-500">
        <span>2</span>
      </a>
      <a class="text-textcolor-500">
        <span>3</span>
      </a>
      <a class="text-textcolor-500">
        <span>4</span>
      </a>
    </span>
  </div>
</footer>
