<footer class="bg-background-100 font-lora text-textcolor-600">
  <div class="container mx-auto flex flex-col items-center py-8 sm:flex-row">
    <a
      class="title-font flex items-center justify-center font-medium text-textcolor-900 md:justify-start">
      <span id="logo">Logo</span>
      <span class="ml-3 text-xl">Sentinel of Liberty</span>
    </a>

    <p
      class="mt-4 text-sm text-textcolor-500 max-sm:text-center sm:ml-4 sm:mt-0 sm:border-l-2 sm:border-textcolor-200 sm:py-2 sm:pl-4">
      © {{ currentYear }} Sentinel of Liberty
      <a
        href="https://barataribeiro.com"
        class="ml-1 text-textcolor-600 max-sm:block"
        rel="noopener noreferrer"
        target="_blank">
        — Barata-Ribeiro
      </a>
    </p>

    <ul
      class="mt-4 inline-flex items-center justify-center gap-3 divide-x-2 divide-none divide-textcolor-200 text-nowrap text-center text-sm sm:ml-auto sm:mt-0 sm:justify-start md:divide-solid md:text-base">
      <li>
        <a
          [routerLink]="['/privacy']"
          class="text-textcolor-500"
          title="Privacy Policy">
          Privacy Policy
        </a>
      </li>
      <li class="md:pl-3">
        <a
          [routerLink]="['/terms']"
          class="text-textcolor-500"
          title="Terms of use">
          Terms of Use
        </a>
      </li>
      <li class="md:pl-3">
        <a
          class="text-textcolor-500"
          href="https://github.com/Barata-Ribeiro/sentinel-of-liberty_frontend"
          title="Repository"
          rel="noopener noreferrer"
          target="_blank">
          Repository
        </a>
      </li>
    </ul>
  </div>
</footer>
