<header class="text-textcolor-600 body-font">
  <img src="" alt="" class="bg-background-800 w-full py-36" />
  <div class="container flex items-center justify-between py-5">
    <nav class="flex items-center gap-2">
      <a href="/" class="hover:text-textcolor-900">Home</a>
      <a href="/articles" class="hover:text-textcolor-900">Articles</a>
    </nav>

    <button
      class="inline-flex items-center bg-background-100 border-0 py-1 px-3 focus:outline-none hover:bg-background-200 rounded text-base mt-4 md:mt-0"
    >
      Login
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-1"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
