<section class="font-lora">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1
        class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600"
        aria-label="404"
      >
        404
      </h1>
      <p
        class="mb-4 text-2xl tracking-tight font-merriweather font-bold text-textcolor-900 md:text-3xl"
      >
        Something's missing.
      </p>
      <p class="mb-4 font-light font-merriweather text-textcolor-500">
        Sorry, we can't find that page. You'll find lots to explore on the home
        page.
      </p>
      <app-main-button
        url="/"
        tailwindClasses="text-textcolor-50 bg-primary-600 hover:bg-primary-800 focus:ring-primary-300 my-4 rounded-lg px-5 py-2.5 text-center text-sm font-medium focus:outline-none focus:ring-4"
        buttonText="Back to Homepage"
      ></app-main-button>
    </div>
  </div>
</section>
