<div
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  [@backdropAnimation]>
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
        [@modalAnimation]>
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div
              class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-gray-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg
                class="h-6 w-6 text-gray-600"
                fill="none"
                viewBox="0 0 20 20"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="mb-4 text-xl font-bold leading-none">
                Warning! <br />
                <small class="text-base font-normal italic"
                  >Sensitive information bellow...</small
                >
              </h3>
              <h4
                class="text-base font-semibold leading-6 text-textcolor-900"
                id="modal-title">
                Account Information
              </h4>
              <ul class="mt-2 list-disc space-y-3 text-base text-gray-500">
                <li>
                  <p><strong>Id: </strong>{{ userData?.id }}</p>
                </li>
                <li>
                  <p>
                    <strong>Discord Username: </strong>
                    {{ userData?.discordUsername }}
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Discord Email: </strong>
                    {{ userData?.discordEmail }}
                  </p>
                </li>
                <li>
                  <p>
                    <strong>SoL Username: </strong>
                    {{
                      userData?.sol_username ||
                        "You haven't registered a custom name..."
                    }}
                  </p>
                </li>
                <li>
                  <p>
                    <strong>SoL Biography: </strong>
                    {{
                      userData?.sol_biography ||
                        "You haven't registered a custom biography..."
                    }}
                  </p>
                </li>
                <li>
                  <p>
                    <strong>User Role: </strong>
                    {{ userData?.role | titlecase }}
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Account Created At: </strong>
                    {{ userData?.createdAt | date: "long" }}
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Account Last Updated: </strong>
                    {{ userData?.updatedAt | date: "long" }}
                  </p>
                </li>
              </ul>
              <p class="mt-4 border-t border-gray-200 pt-4 leading-relaxed">
                As a registered user, you have the ability to edit both the
                site's display name and biography. Any information related to
                Discord can only be altered through Discord's services.
                <br /><br />
                If you have any questions or concerns, please get in touch with
                the site's owner/administrator. Your user role is determined by
                the us, and if you feel you have been wrongly assigned a role,
                please get in touch.
              </p>
            </div>
          </div>
        </div>
        <div
          class="bg-background-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button
            type="button"
            class="mt-3 inline-flex w-full items-center rounded-lg border border-secondary-300 bg-white px-4 py-2 text-center text-sm font-medium text-secondary-900 hover:bg-secondary-100 focus:ring-4 focus:ring-primary-200 sm:mt-0 sm:w-auto"
            (click)="onClose()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
