<section
  id="profile"
  role="grid"
  class="my-10 grid grid-cols-1 gap-5 md:grid-cols-[33%_66%]">
  <div>
    <div
      id="profile-card"
      role="region"
      aria-labelledby="profile-name"
      class="mb-5 flex flex-col items-center rounded-md border-2 border-secondary-200 p-5 sm:p-10">
      <img
        class="mb-3 h-28 w-28 transform rounded-full border-4 border-white shadow-md transition duration-200 hover:scale-110"
        [src]="user?.discordAvatar"
        title="Profile Picture"
        alt="Profile Picture" />
      <h3 id="profile-name" class="mb-1 text-xl font-medium text-textcolor-900">
        {{ user?.sol_username || user?.discordUsername }}
      </h3>
      <span class="text-sm text-textcolor-500 dark:text-textcolor-400"
        >Member since {{ user?.createdAt | date: "d MMM y" }}
      </span>
      @switch (user?.role) {
        @case ("admin") {
          <span
            class="mt-2 rounded-full border border-red-400 bg-red-100 px-2.5 py-1 text-xs font-medium leading-none text-red-800 dark:bg-red-900 dark:text-red-300"
            >Admin</span
          >
        }
        @case ("moderator") {
          <span
            class="mt-2 rounded-full border border-green-400 bg-green-100 px-2.5 py-1 text-xs font-medium leading-none text-green-800 dark:bg-green-900 dark:text-green-300"
            >Moderator</span
          >
        }
        @case ("writer") {
          <span
            class="mt-2 rounded-full border border-yellow-400 bg-yellow-100 px-2.5 py-1 text-xs font-medium leading-none text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300"
            >Writer</span
          >
        }
        @default {
          <span
            class="mt-2 rounded-full border border-gray-500 bg-gray-100 px-2.5 py-1 text-xs font-medium leading-none text-gray-800 dark:bg-gray-700 dark:text-gray-300"
            >Reader</span
          >
        }
      }
      <div class="mt-4 flex space-x-3 lg:mt-6">
        <button
          (click)="openEditModal()"
          class="inline-flex items-center rounded-lg bg-primary-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300">
          Edit Profile
        </button>
        <app-edit-account-modal
          *ngIf="showEditProfile"
          (close)="closeEditModal()"
          (requestEdit)="handleEditAccount($event)"></app-edit-account-modal>
        <button
          class="inline-flex items-center rounded-lg border border-secondary-300 bg-white px-4 py-2 text-center text-sm font-medium text-secondary-900 hover:bg-secondary-100 focus:ring-4 focus:ring-primary-200">
          View Details
        </button>
      </div>
      <div class="mt-5 border-t-2 border-secondary-100 pt-3">
        <h3 class="mb-2 text-center text-xl font-medium text-textcolor-900">
          Biography
        </h3>
        <p class="text-textcolor-600">
          {{
            user?.sol_biography || "No biography yet. Edit you profile above!!"
          }}
        </p>
      </div>
    </div>
    <div
      class="mb-5 flex flex-col items-center rounded-md border-2 border-secondary-200 p-5 sm:p-10"></div>
  </div>
  <div>
    <div
      class="mb-5 flex flex-col items-center rounded-md border-2 border-secondary-200 p-5 sm:p-10"></div>
    <div
      class="mb-5 flex flex-col gap-10 rounded-md border-2 border-secondary-200 p-5 sm:p-10">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sed et
        sint explicabo eius distinctio omnis dolorum ipsam ratione repellendus
        adipisci dicta exercitationem maiores consectetur suscipit, pariatur at
        officiis nam!
      </p>
      <button
        class="self-end text-red-600 hover:text-red-900 dark:hover:text-red-100"
        (click)="openModalDelete()">
        Delete Account
      </button>

      <app-delete-account-modal
        *ngIf="showModalDelete"
        (close)="closeModalDelete()"
        (deactivate)="handleDeactivate()"></app-delete-account-modal>
    </div>
  </div>
</section>
