<section
  id="profile"
  role="grid"
  class="my-10 grid grid-cols-1 gap-5 md:grid-cols-[33%_66%]">
  <aside>
    <div
      id="profile-card"
      role="region"
      aria-labelledby="profile-name"
      class="mb-5 flex flex-col items-center rounded-md border-2 border-secondary-200 bg-background-50 p-5 sm:p-10">
      <img
        class="mb-3 h-28 w-28 transform rounded-full border-4 border-white shadow-md transition duration-200 hover:scale-110"
        [src]="userData?.avatar"
        [alt]="'Avatar of ' + userData?.username"
        [title]="'Avatar of ' + userData?.username" />
      <div class="mb-4 leading-none">
        <h3
          id="profile-name"
          class="mb-1 text-xl font-medium text-textcolor-900">
          {{ userData?.username }}
        </h3>
        <h4
          class="text-center text-sm"
          *ngIf="user?.sol_username === 'John/Jane Doe'">
          Discord Username: {{ user?.discordUsername }}
        </h4>
      </div>
      <span class="text-sm text-textcolor-500 dark:text-textcolor-400">
        Member since {{ user?.createdAt | date: "d MMM y" }}
      </span>
      @switch (userData?.role) {
        @case ("admin") {
          <span
            class="mt-2 select-none rounded-full border border-red-400 bg-red-100 px-2.5 py-1 text-xs font-medium leading-none text-red-800 dark:bg-red-900 dark:text-red-300">
            Admin
          </span>
        }
        @case ("moderator") {
          <span
            class="mt-2 select-none rounded-full border border-green-400 bg-green-100 px-2.5 py-1 text-xs font-medium leading-none text-green-800 dark:bg-green-900 dark:text-green-300">
            Moderator
          </span>
        }
        @case ("writer") {
          <span
            class="mt-2 select-none rounded-full border border-yellow-400 bg-yellow-100 px-2.5 py-1 text-xs font-medium leading-none text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">
            Writer
          </span>
        }
        @default {
          <span
            class="mt-2 rounded-full border border-gray-500 bg-gray-100 px-2.5 py-1 text-xs font-medium leading-none text-gray-800 dark:bg-gray-700 dark:text-gray-300">
            Reader
          </span>
        }
      }
      <div class="mt-4 flex space-x-3 lg:mt-6">
        <button
          (click)="openEditModal()"
          class="inline-flex select-none items-center rounded-lg bg-primary-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300"
          aria-label="Edit profile">
          Edit Profile
        </button>

        <button
          (click)="openAccountDetailsModal()"
          class="inline-flex select-none items-center rounded-lg border border-secondary-300 bg-white px-4 py-2 text-center text-sm font-medium text-secondary-900 hover:bg-secondary-100 focus:ring-4 focus:ring-primary-200"
          aria-label="Check account details">
          Account Details
        </button>
      </div>
      <div class="mt-5 border-t-2 border-secondary-100 pt-3">
        <h3 class="mb-2 text-center text-xl font-medium text-textcolor-900">
          Biography
        </h3>
        <p class="text-textcolor-600">
          {{
            user?.sol_biography || "No biography yet. Edit you profile above!!"
          }}
        </p>
      </div>
    </div>
    <div
      class="mb-5 flex flex-col items-start rounded-md border-2 border-secondary-200 bg-background-50 p-5 sm:p-10">
      <h3 class="mb-2 self-center text-xl font-medium text-textcolor-900">
        Site Interactions
      </h3>
      <ul class="list-disc space-y-2 pl-5">
        <li class="font-medium">
          News Suggested:
          <span class="font-normal">{{ user?.newsSuggested }}</span>
        </li>
        <li class="font-medium">
          Articles Published:
          <span class="font-normal">{{ user?.articles }}</span>
        </li>
        <li class="font-medium">
          Comments Written:
          <span class="font-normal">{{ user?.comments }}</span>
        </li>
        <li class="font-medium">
          Liked comments: <span class="font-normal">{{ user?.likes }}</span>
        </li>
      </ul>
    </div>
  </aside>
  <article>
    <div
      class="mb-5 grid grid-cols-1 items-center justify-between divide-y-2 divide-none divide-textcolor-200 rounded-md border-2 border-secondary-200 bg-background-50 p-5 sm:p-10 md:grid-cols-2 md:divide-solid">
      <div>
        <h3 class="mb-2 self-center text-xl font-medium text-textcolor-900">
          Your latest Article
        </h3>
        @if (userLatestArticle) {
          <div class="flex flex-col gap-5">
            <h4 class="text-lg font-medium text-textcolor-900">
              {{ userLatestArticle.articleTitle }}
            </h4>
            <p class="text-textcolor-600">
              {{ userLatestArticle.contentSummary }}
            </p>
            <a
              [routerLink]="['/article', userLatestArticle.articleId]"
              class="self-end text-primary-700 hover:text-primary-900"
              aria-label="Read Article">
              Read Article
            </a>
          </div>
        } @else {
          <p class="text-textcolor-600">
            No articles published yet.
            <a
              routerLink="/articles/write"
              class="font-medium hover:text-accent-600 hover:underline">
              Start writing now
            </a>
            !!
          </p>
        }
      </div>
      <div>
        <h3 class="mb-2 self-center text-xl font-medium text-textcolor-900">
          Your latest Suggestion
        </h3>
        @if (userLatestSuggestedNews) {
          <div class="flex flex-col gap-5">
            <h4 class="text-lg font-medium text-textcolor-900">
              {{ userLatestSuggestedNews.title }}
            </h4>
            <p class="text-textcolor-600">
              {{ userLatestSuggestedNews.content }}
            </p>
            <a
              [href]="userLatestSuggestedNews.source"
              class="self-end text-primary-700 hover:text-primary-900"
              aria-label="Read Source">
              Read Source
            </a>
          </div>
        } @else {
          <p class="text-textcolor-600">
            No news suggested yet.
            <a
              routerLink="/suggested-news/write"
              class="font-medium hover:text-accent-600 hover:underline">
              Start suggesting now
            </a>
            !!
          </p>
        }
      </div>
    </div>
    <div
      class="mb-5 flex flex-col gap-10 rounded-md border-2 border-secondary-200 bg-background-50 p-5 sm:p-10">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sed et
        sint explicabo eius distinctio omnis dolorum ipsam ratione repellendus
        adipisci dicta exercitationem maiores consectetur suscipit, pariatur at
        officiis nam!
      </p>
      <button
        class="self-end text-red-600 hover:text-red-900 dark:hover:text-red-100"
        (click)="openModalDelete()"
        aria-label="Delete Account">
        Delete Account
      </button>
    </div>
  </article>
</section>
<app-edit-account-modal
  *ngIf="showEditProfile"
  (close)="closeEditModal()"
  (requestEdit)="handleEditAccount($event)"></app-edit-account-modal>
<app-account-details-modal
  *ngIf="showAccountDetailsModal"
  [userData]="user"
  (close)="closeAccountDetailsModal()"></app-account-details-modal>
<app-delete-account-modal
  *ngIf="showModalDelete"
  (close)="closeModalDelete()"
  (deactivate)="handleDeactivate()"></app-delete-account-modal>
