<section class="my-10">
  <!-- Accessible Navigation Div -->
  <nav role="navigation" class="sr-only">
    <a href="#introduction">Introduction</a>
    <a href="#identifyingPurposes">Identifying Purposes</a>
    <a href="#consent">Consent</a>
    <a href="#limitingCollection">Limiting Collection</a>
    <a href="#limitingUse">Limiting Use, Disclosure and Retention</a>
    <a href="#accuracy">Accuracy</a>
    <a href="#safeguarding">Safeguarding Customer Information</a>
    <a href="#openness">Openness</a>
    <a href="#customerAccess">Customer Access</a>
    <a href="#handlingComplaints"
      >Handling Customer Complaints and Suggestions</a
    >
    <a href="#additionalInformation">Additional Information</a>
  </nav>

  <!-- Privacy Policy Content -->
  <div class="mx-auto flex max-w-3xl flex-col gap-10 leading-relaxed">
    <div>
      <h2 id="introduction" class="text-xl font-medium">1. Introduction</h2>
      <p>
        We are responsible for maintaining and protecting the Personal
        Information under our control. We have designated an individual or
        individuals who is/are responsible for compliance with our privacy
        policy. These informations can be deleted at any time by the user or by
        an administrator.
      </p>
    </div>

    <div>
      <h2 id="identifyingPurposes" class="text-xl font-medium">
        2. Identifying Purposes
      </h2>
      <p>
        We collect, use and disclose Personal Information to provide you with
        the product or service you have requested and to offer you additional
        products and services we believe you might be interested in. The
        purposes for which we collect Personal Information will be identified
        before or at the time we collect the information. In certain
        circumstances, the purposes for which information is collected may be
        clear, and consent may be implied, such as where your name, address and
        payment information is provided as part of the order process.
      </p>
    </div>

    <div>
      <h2 id="consent" class="text-xl font-medium">3. Consent</h2>
      <p>
        Knowledge and consent are required for the collection, use or disclosure
        of Personal Information except where required or permitted by law.
        Providing us with your Personal Information is always your choice.
        However, your decision not to provide certain information may limit our
        ability to provide you with our products or services. We will not
        require you to consent to the collection, use, or disclosure of
        information as a condition to the supply of a product or service, except
        as required to be able to supply the product or service.
      </p>
    </div>

    <div>
      <h2 id="limitingCollection" class="text-xl font-medium">
        4. Limiting Collection
      </h2>
      <p>
        The Personal Information collected will be limited to those details
        necessary for the purposes identified by us. With your consent, we may
        collect Personal Information from you in person, over the telephone or
        by corresponding with you via mail, facsimile, or the Internet.
      </p>
    </div>

    <div>
      <h2 id="limitingUse" class="text-xl font-medium">
        5. Limiting Use, Disclosure and Retention
      </h2>
      <p>
        Personal Information may only be used or disclosed for the purpose for
        which it was collected unless you have otherwise consented, or when it
        is required or permitted by law. Personal Information will only be
        retained for the period of time required to fulfill the purpose for
        which we collected it or as may be required by law. Keep in mind this
        website also collects information from third-party sources, such as
        Discord, and may combine it with information we collect from you.
      </p>
    </div>

    <div>
      <h2 id="accuracy" class="text-xl font-medium">6. Accuracy</h2>
      <p>
        Personal Information will be maintained in as accurate, complete and
        up-to-date form as is necessary to fulfill the purposes for which it is
        to be used.
      </p>
    </div>

    <div>
      <h2 id="safeguarding" class="text-xl font-medium">
        7. Safeguarding Customer Information
      </h2>
      <p>
        Personal Information will be protected by security safeguards that are
        appropriate to the sensitivity level of the information. We take all
        reasonable precautions to protect your Personal Information from any
        loss or unauthorized use, access or disclosure.
      </p>
    </div>

    <div>
      <h2 id="openness" class="text-xl font-medium">8. Openness</h2>
      <p>
        We will make information available to you about our policies and
        practices with respect to the management of your Personal Information.
      </p>
    </div>

    <div>
      <h2 id="customerAccess" class="text-xl font-medium">
        9. Customer Access
      </h2>
      <p>
        Upon request, you will be informed of the existence, use and disclosure
        of your Personal Information, and will be given access to it. You may
        verify the accuracy and completeness of your Personal Information, and
        may request that it be amended, if appropriate. However, in certain
        circumstances permitted by law, we will not disclose certain information
        to you. For example, we may not disclose information relating to you if
        other individuals are referenced or if there are legal, security or
        commercial proprietary restrictions.
      </p>
    </div>

    <div>
      <h2 id="handlingComplaints" class="text-xl font-medium">
        10. Handling Customer Complaints and Suggestions
      </h2>
      <p>
        You may direct any questions or enquiries with respect to our privacy
        policy or our practices by contacting us at either of the repositories
        of this project:
        <a
          href="https://github.com/Barata-Ribeiro/sentinel-of-liberty_frontend"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline"
          >frontend</a
        >
        or
        <a
          href="https://github.com/Barata-Ribeiro/sentinel-of-liberty_backend"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline"
          >backend</a
        >.
      </p>
    </div>

    <div>
      <h2 id="additionalInformation" class="text-xl font-medium">
        11. Additional Information
      </h2>
      <div>
        <i class="font-semibold">Cookies</i>
        <p>
          A cookie is a small computer file or piece of information that may be
          stored in your computer's hard drive when you visit our websites. We
          may use cookies to improve our website’s functionality and in some
          cases, to provide visitors with a customized online experience.
          Cookies are widely used and most web browsers are configured initially
          to accept cookies automatically. You may change your Internet browser
          settings to prevent your computer from accepting cookies or to notify
          you when you receive a cookie so that you may decline its acceptance.
          Please note, however, if you disable cookies, you may not experience
          optimal performance of our website.
        </p>
      </div>
      <div class="mt-3">
        <i class="font-semibold">Other Websites</i>
        <p>
          Our website may contain links to other third party sites that are not
          governed by this privacy policy. Although we endeavour to only link to
          sites with high privacy standards, our privacy policy will no longer
          apply once you leave our website. Additionally, we are not responsible
          for the privacy practices employed by third party websites. Therefore,
          we suggest that you examine the privacy statements of those sites to
          learn how your information may be collected, used, shared and
          disclosed.
        </p>
      </div>
    </div>
  </div>
</section>
