<section class="mx-auto my-10" aria-labelledby="home-page-title">
  <h1 class="sr-only" id="home-page-title">Home Page</h1>
  <div
    class="grid grid-cols-1 gap-4 lg:grid-cols-[1fr_400px] xl:grid-cols-[1fr_600px]">
    <!-- COLUMN 1 -->
    <div class="flex flex-wrap gap-4 max-lg:order-2">
      <div
        class="relative flex w-full flex-wrap rounded-lg bg-gray-100 max-md:p-5 md:px-10 md:py-32">
        <img
          alt="image"
          class="absolute inset-0 block h-full w-full rounded-lg object-cover object-center opacity-25"
          src="https://dummyimage.com/820x340"
          width="820"
          height="340" />
        <div class="relative w-full text-center">
          <h2
            class="mb-2 text-center text-xl font-medium text-gray-900 lg:text-2xl">
            Passengers saved from runway as Tokyo plane bursts into flames
          </h2>
          <p class="leading-relaxed">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            veniam cumque obcaecati tempora, perspiciatis non explicabo porro?
          </p>
          <a
            [href]=""
            class="mt-3 inline-flex items-center font-medium text-accent-500 hover:text-accent-600">
            Read More
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="ml-1 h-4 w-4"
              viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <ul
        class="grid w-full grid-cols-1 items-center justify-center gap-4 lg:grid-cols-2">
        <li class="flex items-center gap-2 rounded-lg border-2 p-2">
          <img src="" alt="" class="h-24 w-24 bg-black" />
          <div>
            <span class="text-sm text-textcolor-600">02 january 2024</span>
            <a
              [href]=""
              class="font-medium hover:text-accent-600 hover:underline">
              <h2 class="max-w-[35ch]">
                High Court Ruling Threatens to Reopen Israel&apos;s Divides
              </h2>
            </a>
          </div>
        </li>
        <li class="flex items-center gap-2 rounded-lg border-2 p-2">
          <img src="" alt="" class="h-24 w-24 bg-black" />
          <div>
            <span>02 january 2024</span>
            <h2 class="max-w-[35ch]">
              High Court Ruling Threatens to Reopen Israel&apos;s Divides
            </h2>
          </div>
        </li>
        <li class="flex items-center gap-2 rounded-lg border-2 p-2">
          <img src="" alt="" class="h-24 w-24 bg-black" />
          <div>
            <span>02 january 2024</span>
            <h2 class="max-w-[35ch]">
              High Court Ruling Threatens to Reopen Israel&apos;s Divides
            </h2>
          </div>
        </li>
        <li class="flex items-center gap-2 rounded-lg border-2 p-2">
          <img src="" alt="" class="h-24 w-24 bg-black" />
          <div>
            <span>02 january 2024</span>
            <h2 class="max-w-[35ch]">
              High Court Ruling Threatens to Reopen Israel&apos;s Divides
            </h2>
          </div>
        </li>
      </ul>
    </div>

    <!-- COLUMN 2 -->
    <div class="order-1 mx-auto flex w-fit flex-col items-center gap-4">
      <div class="mx-auto w-full p-4 text-center lg:w-3/4 xl:w-1/2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="mb-8 inline-block h-8 w-8 text-textcolor-400"
          viewBox="0 0 975.036 975.036">
          <path
            d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
        </svg>
        <p class="text-lg leading-relaxed">
          If liberty means anything at all, it means the right to tell people
          what they do not want to hear.
        </p>
        <span class="mb-6 mt-8 inline-block h-1 w-10 rounded bg-secondary-500">
        </span>
        <h2
          class="title-font text-sm font-medium tracking-wider text-textcolor-900">
          GEORGE ORWELL
        </h2>
        <p class="text-textcolor-500">Writer</p>
      </div>
      <div>
        <h2 class="font-medium">Latest News</h2>
        <ul class="border-t-2 pt-4">
          <li class="flex items-center gap-2 rounded-lg border-2 p-2">
            <img src="" alt="" class="h-24 w-24 bg-black" />
            <div>
              <span class="text-sm text-textcolor-600">02 january 2024</span>
              <a
                [href]=""
                class="font-medium hover:text-accent-600 hover:underline">
                <h2 class="max-w-[35ch]">
                  High Court Ruling Threatens to Reopen Israel&apos;s Divides
                </h2>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
