<section class="mx-auto my-10 max-w-3xl">
  <h1 class="text-center text-xl font-semibold sm:text-3xl">Suggest News</h1>

  <form class="flex flex-col items-start justify-center gap-4">
    <!-- SOURCE LINK -->
    <div class="relative w-full">
      <label
        for="source"
        class="block text-sm font-medium leading-6 text-textcolor-900"
        >Source</label
      >
      <div class="relative rounded-md shadow-sm">
        <div
          class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <span class="text-gray-500 sm:text-sm">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-link-45deg"
              viewBox="0 0 16 16">
              <path
                d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"></path>
              <path
                d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"></path>
            </svg>
          </span>
        </div>
        <input
          type="url"
          name="source"
          id="source"
          pattern="https://.*"
          minlength="10"
          maxlength="255"
          class="block w-full rounded-md border-0 py-1.5 pl-10 pr-32 text-textcolor-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
          placeholder="News Link"
          aria-label="News Link"
          required />
      </div>
    </div>
    <!-- TITLE -->
    <div class="relative w-full">
      <label
        for="title"
        class="block text-sm font-medium leading-6 text-textcolor-900"
        >Title</label
      >
      <input
        type="text"
        name="title"
        id="title"
        class="block w-full rounded-md border-0 py-1.5 text-textcolor-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
        placeholder="Article Title"
        aria-label="Article Title"
        required />
    </div>
    <!-- CONTENT -->
    <div class="relative w-full">
      <label
        for="content"
        class="block text-sm font-medium leading-6 text-textcolor-900"
        >Summary -
        <span class="text-sm text-textcolor-400">
          Your suggestion's summary must be between 10 and 100 characters.
        </span>
      </label>
      <textarea
        id="content"
        name="content"
        rows="3"
        class="block w-full rounded-md border-0 py-1.5 text-textcolor-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
        minlength="10"
        maxlength="10"
        placeholder="Article Content"
        aria-label="Article Content"
        required></textarea>
    </div>
    <!-- IMAGE LINK -->
    <div class="relative w-full">
      <label
        for="image"
        class="block text-sm font-medium leading-6 text-textcolor-900"
        >Image Link</label
      >
      <div class="relative rounded-md shadow-sm">
        <div
          class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <span class="text-gray-500 sm:text-sm">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-link-45deg"
              viewBox="0 0 16 16">
              <path
                d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"></path>
              <path
                d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"></path>
            </svg>
          </span>
        </div>
        <input
          type="url"
          name="image"
          id="image"
          pattern="https://.*"
          minlength="10"
          maxlength="255"
          class="block w-full rounded-md border-0 py-1.5 pl-10 pr-32 text-textcolor-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accent-600 sm:text-sm sm:leading-6"
          placeholder="Image Link"
          aria-label="Image Link"
          required />
      </div>
    </div>

    <button
      type="submit"
      class="w-full rounded-lg bg-primary-600 px-5 py-2.5 text-center text-sm font-medium text-textcolor-50 hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300">
      Create
    </button>
  </form>
</section>
