<div class="mb-4 animate-pulse">
  <div
    class="w-full rounded-lg border-2 border-background-400 bg-background-50 p-4">
    <!-- User info placeholder -->
    <header
      class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
      <div class="flex items-center gap-2">
        <div class="h-10 w-10 rounded-full bg-gray-300"></div>
        <div class="h-4 w-24 rounded bg-gray-300"></div>
      </div>
      <div>
        <div class="mb-2 h-4 w-20 rounded bg-gray-300"></div>
        <div class="h-4 w-16 rounded bg-gray-300"></div>
      </div>
    </header>

    <!-- Message placeholder -->
    <div class="mx-2 my-10 h-4 w-3/4 rounded bg-gray-300"></div>

    <footer>
      <div class="flex w-fit gap-2">
        <!-- Icons placeholders -->
        <div class="h-6 w-6 rounded bg-gray-300"></div>
        <div class="h-6 w-6 rounded bg-gray-300"></div>
        <div class="h-6 w-6 rounded bg-gray-300"></div>
        <div class="h-6 w-6 rounded bg-gray-300"></div>
      </div>
    </footer>
  </div>

  <!-- Placeholder for Nested Comments -->
  <div class="mt-4 border-l-2 border-background-400/20 pl-2 md:pl-8">
    <div
      class="w-full rounded-lg border-2 border-background-400 bg-background-50 p-4">
      <div class="mb-2 h-4 w-3/4 rounded bg-gray-300"></div>
      <div class="mb-2 h-4 w-2/4 rounded bg-gray-300"></div>
      <div class="h-4 w-1/4 rounded bg-gray-300"></div>
    </div>
  </div>
</div>
